@media (max-width: 1024px) {
    .hide {
      display: none !important;
    }

    /* adjusted the width of the loginsection */
    .width-full {
        width: 100%;
    }
    .grid-c-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .item-left {
        justify-content: start;
        align-items: start;
    }
}